<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<mat-toolbar color="primary" >
    <div routerLink="/home">
        <p>Market <br> </p>
        <div class="org">
            <p>Online </p>
        </div>
    </div>
    
    <span class="material-symbols-outlined">
        shopping_cart
        </span>
    <span class="example-spacer"></span>
    
    
    
        <span class="material-symbols-outlined buy">
            shopping_bag
            </span>
    
    
</mat-toolbar>
<router-outlet></router-outlet>
