.example-spacer {
    flex: 1 1 auto;
  }
.logo{
  border-radius: 5px;
  width: 75px;
}
mat-toolbar{
  height: 90px;
  background: #0B7189;
}
.org{
  color: orange;
}
p{
  font-size: 25px;
}

.material-symbols-outlined{
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  font-size: 50px;
  line-height: unset;
  padding: 10px;
}

.buy:hover{
  color: black;
}